# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Outputs
outputs/

# Logs
*.log

# Cache
.cache/

# Large dataset
data/candidates.jsonl